.eco{
  padding: 160px 0 310px;
  background: url("../images/eco-bg.png") center/cover no-repeat fixed;
  &__title{
    @include text(400,63px,66px,#fff);
    padding-bottom: 40px;
  }
  &__btn{
    @include text(400,12px,9px,#ffffff);
    padding: 15px 55px;
    background: #1F1E1E;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
.paints{
  padding: 160px 0 90px;
  background: url("https://cdn.sanity.io/images/yn8mpazd/production/afb4e3f3d07fbea5acd6917274b1384777d4a5f4-1080x1350.jpg?rect=0,478,1080,393&w=1920&h=699&auto=format")  center/cover no-repeat;
}
.samples{
  padding: 160px 0 90px;
  background: url("https://cdn.sanity.io/images/yn8mpazd/production/3e6e1bb286d7a5f3b9e38038fdacc476a6edd39c-1920x2400.jpg?rect=0,850,1920,699&w=1920&h=699&auto=format")  center/cover no-repeat;
}