@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}
.header--white {
  color: white;
}
.header--black {
  color: black;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #1F1E1E;
}
.header__title > a {
  color: inherit;
}
.header__title > a > h1 {
  font-weight: 400;
  font-size: 35px;
  line-height: 15px;
  color: inherit;
  letter-spacing: 4px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.header__menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: inherit;
}

.eco {
  padding: 160px 0 310px;
  background: url("../images/eco-bg.png") center/cover no-repeat fixed;
}
.eco__title {
  font-weight: 400;
  font-size: 63px;
  line-height: 66px;
  color: #fff;
  padding-bottom: 40px;
}
.eco__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #ffffff;
  padding: 15px 55px;
  background: #1F1E1E;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.paints {
  padding: 160px 0 90px;
  background: url("https://cdn.sanity.io/images/yn8mpazd/production/afb4e3f3d07fbea5acd6917274b1384777d4a5f4-1080x1350.jpg?rect=0,478,1080,393&w=1920&h=699&auto=format") center/cover no-repeat;
}

.samples {
  padding: 160px 0 90px;
  background: url("https://cdn.sanity.io/images/yn8mpazd/production/3e6e1bb286d7a5f3b9e38038fdacc476a6edd39c-1920x2400.jpg?rect=0,850,1920,699&w=1920&h=699&auto=format") center/cover no-repeat;
}

.color-numbers {
  padding: 60px 0 40px;
}
.color-numbers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.color-numbers__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #1C210B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.color-numbers__number {
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #1C210B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.color-numbers__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}

.new {
  padding: 40px 0 30px 0;
}
.new__title {
  font-weight: 400;
  font-size: 125px;
  line-height: 131px;
  color: #1F1E1E;
  text-align: center;
  padding: 0 0 80px;
}
.new__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}
.new__card-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}
.new__desc, .new__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #3C3C3C;
  text-align: center;
}
.new__desc {
  padding: 20px 0 10px;
}
.new__price {
  padding-bottom: 37px;
}
.new__btn-in {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #fff;
  background: #1F1E1E;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.new__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0 0;
}

.mission {
  text-align: center;
}
.mission__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
}
.mission__desc {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #1F1E1E;
  padding: 15px 0 100px;
}

.purifies {
  padding-bottom: 35px;
}
.purifies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.purifies__left {
  margin-right: 8px;
}
.purifies__right {
  background: #F4EDE6;
  border-radius: 8px;
}
.purifies__img {
  width: 690px;
}
.purifies__text {
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  color: #425E44;
  text-align: center;
  padding: 150px 166px 157px;
}
.purifies__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #425E44;
  text-align: center;
  padding-bottom: 50px;
}

.NO {
  text-align: center;
  padding-bottom: 50px;
}
.NO__title {
  font-weight: 400;
  font-size: 192px;
  line-height: 201px;
  color: #1F1E1E;
}
.NO__desc {
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #1F1E1E;
  padding: 25px 0 40px;
}
.NO__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #fff;
  padding: 15px 27px 12px;
  background: #1F1E1E;
  border: none;
  border-radius: 5px;
}

.try {
  padding-bottom: 230px;
}
.try__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.try__left {
  background-color: #F4EDE6;
  text-align: center;
  margin-right: 8px;
  padding: 139px 188px 138px;
}
.try__img {
  width: 690px;
}
.try__desc {
  font-weight: 400;
  font-size: 46px;
  line-height: 50px;
  color: #1E1E1E;
  padding-bottom: 28px;
  text-align: center;
}
.try__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #fff;
  text-transform: uppercase;
  background: #1F1E1E;
  border: none;
  border-radius: 5px;
  padding: 15px 26px 12px;
  cursor: pointer;
}

.put__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.put__left {
  margin-right: 8px;
}
.put__left2-img {
  width: 690px;
  border-radius: 5px;
}
.put__img1, .put__img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding-bottom: 8px;
}
.put__images {
  width: 339px;
  border-radius: 5px;
}
.put__right {
  text-align: center;
  padding: 157px 144px 50px;
  margin-bottom: 8px;
  background: #C6BC8A;
  border-radius: 5px;
}
.put__desc {
  font-weight: 400;
  font-size: 52px;
  line-height: 58px;
  color: #425E44;
}
.put__account {
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #425E44;
  padding: 25px 0 163px;
}
.put__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #425E44;
}

.sign {
  padding: 65px 0 35px;
}
.sign__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sign__left {
  width: 60%;
  border-right: 1px solid gray;
}
.sign__desc {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #1E1E1E;
  padding-top: 50px;
}
.sign::after, .sign::before {
  content: "";
  width: 1400px;
  height: 1px;
  background-color: gray;
  display: block;
  margin: 0 auto;
}
.sign::after {
  margin: 35px 0 35px;
}
.sign::before {
  margin-bottom: 50px;
}
.sign__label-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 9px;
  color: #3C3C3C;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-radius: 5px;
  padding: 12px 35px 12px 20px;
  margin: 20px 0 65px;
}
.sign__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #fff;
  background: black;
  padding: 19px 5px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-radius: 5px;
  cursor: pointer;
}
.sign__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 9px;
  color: #3C3C3C;
  padding-bottom: 35px;
}
.sign__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 50px;
}
.sign__right-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  padding-bottom: 100px;
}
.sign__right-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sign__right-discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sign__right-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sign__right-theme {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.sign__right-links {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #1F1E1E;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.sign__right-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  color: #1F1E1E;
  word-spacing: 20px;
}

.form__select {
  border: none;
}

.palette__desc {
  font-weight: 400;
  font-size: 335px;
  line-height: 10px;
  color: #1F1E1E;
  margin: 45px 0 170px;
}
.palette__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.palette__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.palette__left-text {
  padding-left: 100px;
}
.palette__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.palette__right-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #1F1E1E;
}

.samples-pictures__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 12px;
  color: black;
  text-align: center;
  padding: 80px 0 110px;
}
.samples-pictures__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 80px;
}
.samples-pictures__images-img {
  width: 290px;
  height: 290px;
  border-radius: 20%;
}